<%- include('header') %>

<style>
    b@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E0E0E0;
  overflow: hidden;
  h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #151E3F;
  font-weight: 300;
  letter-spacing: 2px;
}
}



.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 5px;
  }
}

.gallery-media {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      max-height: 100%;
    }
}

.gallery-layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFB2B2;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1);
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
  }
}

.gallery-media:hover .gallery-layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}


</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Reservation Management</h1>
            
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
	<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
	  <div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
				</div><!-- box header-->
				<div class="row">
        <!-- ubah disini-->
          <div class="col-12">
            <div id="actionmsg"></div>
            <div class="card">
              <div class="card-header">             
                <h3 class="card-title"><!-- title here --></h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="keyword" id="search-text" class="form-control float-right" placeholder="Search" >
                    <div class="input-group-append">
                      <button type="submit" onclick="searchdata()" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Customer Name</th>
                      <th>Package</th>
                      <th>Booking Date</th>                     
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="data-booking">
                    <td></td>
                    <td></td>
                    <td><div class="d-flex justify-content-center" >
                      <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-light" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <div id="page"></div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue" id="pageItem">
              <div id="pageItem"></div>
            </ul>
          </nav>

					<!-- <div class="box-footer">
						<button class="btn btn-primary" onclick="getDataById(0)" data-toggle="modal" data-target="#modal-default" name="btnadd" >Add Booking</button>
          </div> -->
				</div>

			</div>
		</div>
      <!-- /.row (main row) -->
      </section>
    </div><!-- /.container-fluid -->
  
<!-- modal -->
<div class="modal fade" id="modal-default" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          <div id="main">
          <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Action</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="formbooking" enctype="multipart/form-data">
                <div class="card-body">
                  <input type="hidden" id="_id" >
                  <input type="hidden" id="position">
                <div id="msgtxt"></div>
                <label for="exampleInputName"><h3>Customer Information</h3></label>
                <hr/>
                  <div class="form-group">
                    <label for="exampleInputName">Customer ID</label>
                    <input type="text" name="customerId" class="form-control" id="inputcust" placeholder="Enter Customer ID" readonly>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFName">Customer Name</label>
                    <input type="text" name="fullname" class="form-control" id="inputfullname" placeholder="Enter Customer Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Customer Email</label>
                    <input type="email" name="email" class="form-control" id="inputemail" placeholder="Enter Customer Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputLocation">Customer Location</label>
                    <input type="text" name="location" class="form-control" id="inputlocation" placeholder="Enter Customer Location">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPhone">Customer Phone No</label>
                    <input type="text" name="phone_number" class="form-control" id="inputphone" placeholder="Enter Customer Phone No">
                  </div>
                  <br/>
                  <label for="exampleDivider"><h3>Reservation Information</h3></label>
                  <hr/>
                    <div class="form-group">
                        <label>Package</label>
                        <div class="container" style="display:flex">
                          <div style="flex:2" ><select name="packageId" id="inputpackage" class="custom-select"></select></div>
                          <button type="button" id="unselectpkg" class="close" hidden>×</button>
                        </div>  
                        <div id="pkginfo" style="margin-top:10px;margin-bottom:10px" hidden>
                        <span>Selected Package Information</span>
                        <div class="card card-primary card-outline card-tabs" style="margin-top:10px;background-color:#eee">
                          <div class="card-body">
                            <div class="tab-content" id="custom-tabs-two-tabContent">
                              <div class="tab-pane fade active show" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                               <div class="row">
                                <div class="col-lg-6">
                                <label>Package ID     : </label> <font id="infopkgid"></font><br/>
                                <label>Description    : </label><br/><font id="infopkgdesc"></font><br>
                                <label>Transportation : </label> <font id="infopkgtrans"></font>
                                </div>
                                <div class="col-lg-6">
                                <label>Package Tags : </label> <font id="infopkgtags"></font>
                                </div>
                               </div> 
                              </div>     
                            </div>
                          </div>
                          <!-- /.card -->
                        </div>
                        </div>
                        <div style="margin-top:10px" id="newpkg"></div>
                    </div>
                    <div class="form-group">
                        <label>Duration</label>
                        <div class="input-group">
                            <select name="duration" id="inputduration" class="custom-select"></select>
                            <input type="hidden" id="durationHidden" >
                            <div class="input-group-append">
                                <span class="input-group-text">Day</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Start Date</label>
                        <input type="date" name="start_date" class="form-control" id="inputstartdate" placeholder="Enter Start Date" >
                        <div id="error"></div>
                    </div>                   
                    <div class="form-group">
                        <label>Adult</label>
                        <div class="input-group">
                            <input name="no_adult" id="inputadult" type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">Person</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Child</label>
                        <div class="input-group">
                            <input name="no_child" id="inputchild" type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">Person</span>
                            </div>
                        </div>
                    </div>
                    <!-- preference -->
                    <label>Preference</label>
                    <div class="form-group" id="bookid">
                        <input type="text" class="form-control" id="inputtags" data-role="tagsinput">
                      </div>
                    <div class="form-group">
                    <label for="exampleInputDesc">Notes</label>
                        <textarea name="notes" id="inputnotes" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select name="status" id="inputstatus" class="custom-select">
                            <option value="Pending">Pending</option>
                            <option value="Canceled">Canceled</option>
                            <option value="Waiting Payment">Waiting Payment</option>
                            <option value="Confirmed">Confirmed</option>
                        </select>
                    </div>
                <!-- /.card-body -->

                
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-default" id="btnedit">Edit</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
         </div> 
         <div id="loading" hidden>
         <div class="d-flex justify-content-center" style="height:500px;padding-top:150px">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          </div>
         </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      </div>
      <!-- modal delete -->
<div class="modal fade" id="modal-danger-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this data?…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-outline-light" id="yesbtn">Yes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
<!-- modal end -->
<script type="text/javascript" src="../js/manageReservation.js"></script>

<%- include('footer') %>