<%- include('header') %>	
<style>
    b@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E0E0E0;
  overflow: hidden;
  h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #151E3F;
  font-weight: 300;
  letter-spacing: 2px;
}
}



.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 5px;
  }
}

.gallery-media {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      max-height: 100%;
    }
}

.gallery-layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFB2B2;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1);
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
  }
}

.gallery-media:hover .gallery-layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}


</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Destination Management</h1>
            
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
	<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
	  <div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
				</div><!-- box header-->
				<div class="row">
        <!-- ubah disini-->
          <div class="col-12">
            <div id="actionmsg"></div>
            <div class="card">
              <div class="card-header">             
                <h3 class="card-title"><!-- title here --></h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="keyword" id="search-text" class="form-control float-right" placeholder="Search" >
                    <div class="input-group-append">
                      <button type="submit" onclick="searchdata()" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Desc</th>
                      <th>Location</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="data-destination">
                    <!-- Loading -->
                    <td></td>
                    <td></td>
                    <td><div class="d-flex justify-content-center" >
                      <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-light" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div></td>
                    <td></td>
                    <td></td>
                    <!-- Loading end -->
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
              <div class="card-footer clearfix">
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue" id="pageItem">
            <div id="pageItem"></div>
          </ul>
        </nav>
					<div class="box-footer">
						<button class="btn btn-primary" onclick="getDataById()" data-toggle="modal" data-target="#modal-default" name="btnadd" id="btnaddnew">Add Destination</button>
          </div>
				</div>

			</div>
		</div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
</div>
<!-- modal -->
<div class="modal fade" id="modal-default" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Action</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="formdestination" enctype="multipart/form-data">
                <div class="card-body">
                <div id="msgtxt"></div>
                  <div class="form-group">
                    <label for="exampleInputName">Destination Name</label>
                    <input type="name" name="name" class="form-control" id="inputname" placeholder="Enter Destination name" >
                    <!-- <input type="hidden" name="id" class="form-control" id="inputid" > -->
                    <!-- hohohoh -->
                    <div id="error"></div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDesc">Description</label>
                        <textarea name="desc" id="inputdesc" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                  <div class="form-group">
                        <label>Location</label>
                        <textarea name="location" id="inputlocation" class="form-control" rows="3" placeholder="Enter location ..."></textarea>
                      </div>
                      <div class="col-12">
                        <div class="container">
                              <div class="form-group row" >
                                <div class="col-lg-6" style="justify-content:center;align-items:center;display:flex">
                                  <div class="dropzone" >
                                  <label for="browse" class="dropzone_msg">Drop files here</label>
                                  <input type="file" name="browse" class="dropzone_input" style="display: none;">
                                  <!-- <div class="dropzone_thumb" data-label="mytext.txt"></div> -->
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="col-lg-12">
                                  <textarea class="form-control" id="inputKeterangan" placeholder="Enter Detail"></textarea>
                                  </div>
                                  <div class="col-lg-12">
                                    <!-- <button id="getdatainfo" class="btn btn-warning">result</i></a> -->
                                    <button id="addinforow" style="margin-top:20px" class="btn btn-success"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row" id="info1">
                                <div class="card-body table-responsive p-0">
                                  <table class="table table-hover text-nowrap">
                                    <thead>
                                      <tr>
                                        <th>Image</th>
                                        <th>Detail</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody id="listinfo">
              
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </form>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
              </div>
                <!-- /.card-body -->

                
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <div id="btnaction" ></div>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
         
        </div>
        <!-- /.modal-dialog -->
      </div>
      </div>
      <!-- modal delete -->
<div class="modal fade" id="modal-danger-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this data?…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-outline-light" id="yesbtn">Yes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
<!-- modal end -->
<style>
  .dropzone{
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    z-index: 100;
    cursor: default;
  }
  .dropzone.dragover{
    border-color: #000;
    color: #000;
  }
  .dropzone_thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('../assets/upload/default/img_tumbnail.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  .dropzone_thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background-color: grey;
    font-size: 12px;
    text-align: center;
  }
</style>
<script src="../js/manageDestination.js"></script>
<%- include('footer') %>	

<!-- kalau refresh -->
