<%- include('header') %>	
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Package Management</h1>           
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
	<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
	  <div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
				</div><!-- box header-->
				<div class="row">
        <!-- ubah disini-->
          <div class="col-12">
            <div id="actionmsg"></div>
            <div class="col-lg-12">
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="tab-package" data-toggle="pill" href="#custom-tabs-three-package" role="tab" aria-controls="custom-tabs-three-package" aria-selected="true">Package</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link " id="tab-transportation" data-toggle="pill" href="#custom-tabs-three-transportation" role="tab" aria-controls="custom-tabs-three-transportation" aria-selected="false">Transportation</a>
                  </li> -->
                </ul>
              </div>
              <div class="card-header">             
                <h3 class="card-title"><!-- title here --></h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="keyword" id="search-text" class="form-control float-right" placeholder="Search" >
                    <div class="input-group-append">
                      <button type="submit" onclick="searchdata()" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">                
                <div class="tab-pane fade active show" id="custom-tabs-three-package" role="tabpanel" aria-labelledby="custom-tabs-three-package-tab">
                  <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Desc</th>
                      <!-- <th>Transportation</th> -->
                      <th>Tags</th>
                      <th>Price</th>
                      <th>Status</th>
                      <!-- <th>Price</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="data-package">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="d-flex justify-content-center" >
                      <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-light" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <div id="page"></div>
              </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
            <!-- /.card -->
          </div>
        </div>

					<div class="box-footer">
                        <button class="btn btn-primary" onclick="gotoactionpage()"  id="btnaddpackage" >Add Package</button>
                    </div>
				</div>

			</div>
		</div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
</div>

<!-- modal delete -->
<div class="modal fade" id="modal-danger-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this data?…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-outline-light" id="yesbtn">Yes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
<!-- modal end -->
    
    <!-- end modal default -->
    <div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
              <div  id="modaltype">
                <div class="modal-header">
                  <h4 class="modal-title" id="modaltitle">Confirmation</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body" id="modalmsg">
                  
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" id="btnokmodal" class="btn btn-outline-light" data-dismiss="modal">OK</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
</div>
<script src="../js/managePackage.js"></script>

<%- include('footer') %>	
<!-- kalau refresh -->
