<%- include('header') %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div id="content">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Input Package</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
	<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
	  <div class="row">
			<div class="col-lg-12">
      <div id="actionmsg"></div>
				<div class="row">
        <!-- ubah disini-->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Package Information</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
              <form role="form" id="formpackage" enctype="multipart/form-data">
                <div class="card-body">
                <div id="msgtxtpackage"></div>
                  <div class="form-group" id="bookid">
                    <label for="exampleInputName">Reservation ID</label>
                    <!-- <input type="text" name="reservation_id" value="" class="form-control" id="inputidreservation" placeholder="Reservation ID" readonly> -->
                    <div id="error"></div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName">Package Name</label>
                    <input type="text" name="name" class="form-control" id="inputname" placeholder="Enter Package name" >
                    <div id="error"></div>
                  </div>
                  <div class="form-group">
                    <label>Category</label>
                    <select name="categoryId" id="inputcategory" class="custom-select">
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDate">Start Date</label>
                    <input name="start_date" id="inputdate" type="date" class="form-control">
                  </div>       
                  <div class="form-group">
                    <label for="exampleInputDesc">Description</label>
                        <textarea name="desc" id="inputdesc" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                  <div class="form-group">
                    <label>Hotel Type</label>
                    <select name="hotel_star" id="inputhotelstar" class="custom-select">
                      <option value="3">3 Stars</option>
                      <option value="4">4 Stars</option>
                      <option value="5">5 Stars</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPickup">Pickup Location</label>
                        <textarea name="pickup_location" id="inputpickup" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                  <!-- Tags -->
                  <div class="form-group" id="bookid">
                    <label for="exampleInputTags">Tags</label>
                    <input type="text" style="color: black;" class="form-control" id="inputtags" data-role="tagsinput">
                  </div>
                  <div class="form-group" >
                    <label for="exampleInputPrice">Base Price</label>
                    <input type="number" name="base_price" value="" class="form-control" id="inputbaseprice" placeholder="$XXXX">
                  </div>
                  <div class="form-group">
                    <label>Status</label>
                    <select name="status" id="inputstatus" class="custom-select">
                      <option value="1">Available</option>
                      <option value="0">Unavailable</option>
                    </select>
                  </div>
                  <!-- Facility -->
                  <!-- <label>Facility</label>
                    <div class="row">
                        <div class="col-sm-6">
                        <div class="form-group" id="cbleft"></div>
                        </div> 
                        <div class="col-sm-6">
                        <div class="form-group" id="cbright"></div>
                        </div>
                    </div> -->
                    <!-- end of ga; -->                   
                  
                  <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div> -->
                </div>
                <!-- /.card-body -->   
                </form>           
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Itinerary Information</h3>
                '<button type="button"  id="btnaddrow" onclick="additinrow()" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>'
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-body">
                  <div class="form-group">           
                    <div id="generatetitle"></div>                
                    <div class="row" id="generateday"> </div>
                    <form role="form" id="formitinerary" enctype="multipart/form-data">
                    <div id="itinerary" class="form-group"></div>
                  </div>
                </div>
                  
                </div>
                <!-- /.card-body -->              
             </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

					<div class="box-footer" id="btnaction"></div>
				</div>

			</div>
		</div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
</div>
<div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div  id="modaltype">
            <div class="modal-header">
              <h4 class="modal-title" id="modaltitle">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="modalmsg">
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" id="btnokmodal" class="btn btn-outline-light" data-dismiss="modal">OK</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <script src="../../js/managePackageAction.js"></script>
</div>
<div class="container" style="display: flex;justify-content: center;align-items: center; height: 500px;" id="loading">
  <div class="d-flex justify-content-center" >
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>


      <%- include('footer') %>	