<%- include('header') %>

<style>
    b@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E0E0E0;
  overflow: hidden;
  h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #151E3F;
  font-weight: 300;
  letter-spacing: 2px;
}
}



.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 5px;
  }
}

.gallery-media {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      max-height: 100%;
    }
}

.gallery-layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFB2B2;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1);
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
  }
}

.gallery-media:hover .gallery-layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}


</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Intent Management</h1>
            
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
	<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
	  <div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
				</div><!-- box header-->
				<div class="row">
        <!-- ubah disini-->
          <div class="col-12">
            <div id="actionmsg"></div>
            <div class="card">
              <div class="card-header">             
                <h3 class="card-title"><!-- title here --></h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="keyword" id="search-text" class="form-control float-right" placeholder="Search" >
                    <div class="input-group-append">
                      <button type="submit" onclick="searchdata()" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Intent Name</th>
                      <th>Intent Response</th>                  
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="data-intent">
                    <td></td>
                    <td><div class="d-flex justify-content-center" >
                      <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-light" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div></td>
                    <td></td>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <div id="page"></div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue" id="pageItem">
              <div id="pageItem"></div>
            </ul>
          </nav>
          <div class="box-footer">
						<button class="btn btn-primary" onclick="getDataById()" data-toggle="modal" data-target="#modal-default" name="btnadd" id="btnaddnew">Add Intent</button>
          </div>
					<!-- <div class="box-footer">
						<button class="btn btn-primary" onclick="getDataById(0)" data-toggle="modal" data-target="#modal-default" name="btnadd" >Add Intent</button>
          </div> -->
				</div>

			</div>
		</div>
      <!-- /.row (main row) -->
      </section>
    </div><!-- /.container-fluid -->
  
<!-- modal -->
<div class="modal fade" id="modal-default" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          <div id="main">
          <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Action</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="formintent" enctype="multipart/form-data">
                <div class="card-body">
                  <input type="hidden" id="_id" >
                  <input type="hidden" id="position">
                <div id="msgtxt"></div>
                <label for="exampleInputName"><h3>Intent Information</h3></label>
                <hr/>
                  <div class="form-group">
                    <label for="exampleInputFName">Intent Name</label>
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter Intent Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputLocation">Intent Response</label>
                    <input type="text" class="form-control" id="inputResponse" placeholder="Enter Intent's Response">
                  </div>
                  <br/>
                  <label for="exampleDivider"><h3>Training Data</h3></label>
                  <hr/>
                    <div class="form-group">
                      <div class="row">                      
                          <textarea class="form-control" id="inputSentence" placeholder="Enter Sentence"></textarea>
                          <button id="addinforow" style="margin-top:20px" class="btn btn-success"><i class="fa fa-plus"></i></a>
                      </div>
                        
                    </div>
                    <div class="form-group row" id="info1">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <tbody id="listinfo">
    
                          </tbody>
                        </table>
                      </div>
                    </div>            
                <!-- /.card-body -->

                
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <div id="btnaction" ></div>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
         </div> 
         <div id="loading" hidden>
         <div class="d-flex justify-content-center" style="height:500px;padding-top:150px">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          </div>
         </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      </div>
      <!-- modal delete -->
<div class="modal fade" id="modal-danger-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this data?…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-outline-light" id="yesbtn">Yes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
<!-- modal end -->
<script type="text/javascript" src="../js/manageIntent.js"></script>

<%- include('footer') %>