
<%- include('header') %>						
			
		<div id="sliders-container">
			<div id="fusion-slider-61" data-id="61" class="fusion-slider-container fusion-slider-9 full-width-slider-container" style="height:600px;max-width:100%;">
	<style type="text/css">
		#fusion-slider-61 .flex-direction-nav a {width:63px;height:63px;line-height:63px;font-size:25px;}	</style>
	<div class="fusion-slider-loading">Loading...</div>
		<div class="tfs-slider flexslider main-flex full-width-slider" style="max-width:100%;--typography_sensitivity:1;" data-slider_width="100%" data-slider_height="600px" data-full_screen="0" data-parallax="1" data-nav_arrows="0" data-pagination_circles="0" data-autoplay="0" data-loop="0" data-animation="fade" data-slideshow_speed="7000" data-animation_speed="600" data-slider_content_width="" data-typo_sensitivity="1" data-typo_factor="1.25" data-orderby="date" data-order="DESC" data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-slider_indicator="" data-slider_indicator_color="#ffffff" >
		<ul class="slides" style="max-width:100%;">
															<li class="slide-id-192" data-mute="yes" data-loop="yes" data-autoplay="yes">
					<div class="slide-content-container slide-content-center" style="display: none;">
						<div class="slide-content" style="">
																													<div class="buttons" >
																										</div>
													</div>
					</div>
																									<div class="background background-image" style="background-image: url(assets/upload/2015/01/IMG_1591-1-scaled.jpg);max-width:100%;height:600px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/upload/2015/01/IMG_1591-1-scaled.jpg', sizingMethod='scale');" data-imgwidth="2560">
																							</div>
				</li>
					</ul>
	</div>
</div>
		</div>
				
			
			<div class="avada-page-titlebar-wrapper">
							</div>

						<main id="main" class="clearfix width-100">
				<div class="fusion-row" style="max-width:100%;">
<section id="content" class="full-width">
					<div id="post-9" class="post-9 page type-page status-publish hentry">
			<span class="entry-title rich-snippet-hidden">About Us</span><span class="vcard rich-snippet-hidden"><span class="fn"><a href="author/thatrafi/" title="Posts by thatrafi" rel="author">thatrafi</a></span></span><span class="updated rich-snippet-hidden">2020-05-02T07:05:14+00:00</span>						<div class="post-content">
				<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"  style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:90px;padding-right:0px;padding-bottom:0px;padding-left:0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-0 fusion-one-half fusion-column-first 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 30px 30px 30px 15%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-1 fusion-title-text fusion-title-size-two" style="font-size:54px;margin-top:0px;margin-bottom:0px;"><div class="title-sep-container"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h2 class="title-heading-right" style="margin:0;font-size:1em;line-height:2em;">ABOUT US</h2></div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid fusion-clearfix separator-right" style="border-color:#000000;border-top-width:1px;float:right;margin-top:20px;margin-bottom:35px;width:100%;max-width:170px;"></div><div class="fusion-sep-clear"></div><style type="text/css"></style><div class="fusion-title title fusion-title-2 fusion-title-text fusion-title-size-three" style="margin-top:0px;margin-bottom:0px;"><div class="title-sep-container"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h3 class="title-heading-right" style="margin:0;line-height:2em;">WE SELLING A DREAMS AND STORIES <span style="color: var(--h3_typography-color); font-family: var(--h3_typography-font-family); font-size: var(--h3_typography-font-size); font-style: var(--h3_typography-font-style,normal); font-weight: var(--h3_typography-font-weight); letter-spacing: var(--h3_typography-letter-spacing); background-color: rgba(255, 255, 255, 0);">BASED ON INDIVIDUAL INTERESTS</span></h3></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-1 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-image: url('assets/upload/2020/05/IMG_1546-1024x768.jpg');background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="assets/upload/2020/05/IMG_1546-1024x768.jpg"><div class="fusion-clearfix"></div></div></div></div></div><div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:20px;padding-right:30px;padding-bottom:65px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-2 fusion-one-half fusion-column-first 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-text"><p>OUR PRODUCTS</p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-single sep-dashed" style="border-color:#e0dede;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:13px;margin-bottom:13px;"></div><ul class="fusion-checklist fusion-checklist-1" style="font-size:15px;line-height:25.5px;"><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>we arranging tailor made unique tour across the island (our target to show not-touristic off-beaten tracks)</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>running hotels with a good vibes and high level of hospitality (we focused on real guests needs based on their feedbacks)</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>coming soon: launching of gastro lounge with cosy atmosphere and good vibes, where we gonna provide fusion healthy meals with real taste (only necessary spices)</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>in nearest future plans: to create educational programmes, based on applied different philosophical ideas which leads to make peoples life more conscious and easier</p>
</div></li></ul><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-3 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-text"><p>OUR BENEFITS</p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-single sep-dashed" style="border-color:#e0dede;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:13px;margin-bottom:13px;"></div><ul class="fusion-checklist fusion-checklist-2" style="font-size:15px;line-height:25.5px;"><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>individual approach</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>100% transparency in pricing</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>best value for money</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>proper communication</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>explaining of all sides of a deal: benefits and disadvantages</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>more than 5 years expertise</p>
</div></li><li class="fusion-li-item"><span style="height:25.5px;width:25.5px;margin-right:10.5px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-star-o" style="color:#6666a4;"></i></span><div class="fusion-li-item-content" style="margin-left:36px;">
<p>flexibility</p>
</div></li></ul><div class="fusion-clearfix"></div></div></div></div></div><div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f0f0ed;background-position: left top;background-repeat: no-repeat;padding-top:60px;padding-right:30px;padding-bottom:85px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-4 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-3 fusion-title-center fusion-title-text fusion-title-size-two" style="font-size:54px;margin-top:0px;margin-bottom:0px;"><div class="title-sep-container title-sep-container-left"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h2 class="title-heading-center" style="margin:0;font-size:1em;line-height:2em;">MEET THE TEAM</h2><div class="title-sep-container title-sep-container-right"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div></div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#000000;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:35px;width:100%;max-width:170px;"></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_6 fusion-builder-column-5 fusion-one-sixth fusion-column-first 1_6"  style='margin-top:0px;margin-bottom:20px;width:13.3333%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_2_3 fusion-builder-column-6 fusion-two-third 2_3"  style='margin-top:0px;margin-bottom:20px;width:65.3333%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-4 fusion-title-center fusion-title-text fusion-title-size-three" style="margin-top:0px;margin-bottom:0px;"><div class="title-sep-container title-sep-container-left"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h3 class="title-heading-center" style="margin:0;line-height:2em;">Our specialists are at the heart of Avada Destinations. They have travelled extensively and documented it perfectly so you can enjoy your adventures.</h3><div class="title-sep-container title-sep-container-right"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_6 fusion-builder-column-7 fusion-one-sixth fusion-column-last 1_6"  style='margin-top:0px;margin-bottom:20px;width:13.3333%'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-8 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-sep-clear"></div><div class="fusion-separator sep-none" style="margin-left: auto;margin-right: auto;margin-top:;margin-bottom:40px;width:100%;max-width:170px;"></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-9 fusion-one-third fusion-column-first 1_3"  style='margin-top:0px;margin-bottom:20px;width:30.6666%; margin-right: 4%;'><div class="fusion-column-wrapper" style="background-color:rgba(255,255,255,.6);padding: 30px 30px 30px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="imageframe-align-center"><span class="fusion-imageframe imageframe-none imageframe-1 hover-type-none"><img src="assets/upload/2015/01/person11-3.jpg" width="370" height="270" alt="person1" title="Professional Filing Documents" class="img-responsive wp-image-807"/></span></div><div class="fusion-text"><h3 style="text-align: center; color: #333333; margin-bottom: 0px;">Michael Chabbi</h3>
<h4 style="text-align: center; margin-top: 0px;">President &amp; Founder</h4>
</div><div class="fusion-text"><p style="text-align: center;">Etiam rhoncus fermentum vehicula. Etiam sollicitudin eget sapien ac aliquet. Nullam tristique vitae sempers astridse facilisis.</p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-none" style="margin-left: auto;margin-right: auto;margin-top:7px;width:100%;max-width:170px;"></div><div class="aligncenter"><div class="fusion-social-links"><div class="fusion-social-networks boxed-icons"><div class="fusion-social-networks-wrapper"><a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-facebook" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Facebook" data-toggle="tooltip" title="Facebook"></a><a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-twitter" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Twitter" data-toggle="tooltip" title="Twitter"></a><a class="fusion-social-network-icon fusion-tooltip fusion-instagram fusion-icon-instagram" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-instagram" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Instagram" data-toggle="tooltip" title="Instagram"></a></div></div></div></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-10 fusion-one-third 1_3"  style='margin-top:0px;margin-bottom:20px;width:30.6666%; margin-right: 4%;'><div class="fusion-column-wrapper" style="background-color:rgba(255,255,255,.6);padding: 30px 30px 30px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="imageframe-align-center"><span class="fusion-imageframe imageframe-none imageframe-2 hover-type-none"><img src="assets/upload/2015/01/person21-3.jpg" width="370" height="270" alt="person2" title="Lady On Laptop" class="img-responsive wp-image-808"/></span></div><div class="fusion-text"><h3 style="text-align: center; color: #333333; margin-bottom: 0px;">Kelsie Maden</h3>
<h4 style="text-align: center; margin-top: 0px;">Account Director</h4>
</div><div class="fusion-text"><p style="text-align: center;">Etiam rhoncus fermentum vehicula. Etiam sollicitudin eget sapien ac aliquet. Nullam tristique vitae sempers astridse facilisis.</p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-none" style="margin-left: auto;margin-right: auto;margin-top:7px;width:100%;max-width:170px;"></div><div class="aligncenter"><div class="fusion-social-links"><div class="fusion-social-networks boxed-icons"><div class="fusion-social-networks-wrapper"><a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-facebook" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Facebook" data-toggle="tooltip" title="Facebook"></a><a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-twitter" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Twitter" data-toggle="tooltip" title="Twitter"></a><a class="fusion-social-network-icon fusion-tooltip fusion-instagram fusion-icon-instagram" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-instagram" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Instagram" data-toggle="tooltip" title="Instagram"></a></div></div></div></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-11 fusion-one-third fusion-column-last 1_3"  style='margin-top:0px;margin-bottom:20px;width:30.6666%'><div class="fusion-column-wrapper" style="background-color:rgba(255,255,255,.6);padding: 30px 30px 30px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="imageframe-align-center"><span class="fusion-imageframe imageframe-none imageframe-3 hover-type-none"><img src="assets/upload/2015/01/person31-3.jpg" width="370" height="270" alt="person3" title="Gentleman on Laptop" class="img-responsive wp-image-809"/></span></div><div class="fusion-text"><h3 style="text-align: center; color: #333333; margin-bottom: 0px;">Greg Simkins</h3>
<h4 style="text-align: center; margin-top: 0px;">Marketing Director</h4>
</div><div class="fusion-text"><p style="text-align: center;">Etiam rhoncus fermentum vehicula. Etiam sollicitudin eget sapien ac aliquet. Nullam tristique vitae sempers astridse facilisis.</p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-none" style="margin-left: auto;margin-right: auto;margin-top:7px;width:100%;max-width:170px;"></div><div class="aligncenter"><div class="fusion-social-links"><div class="fusion-social-networks boxed-icons"><div class="fusion-social-networks-wrapper"><a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-facebook" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Facebook" data-toggle="tooltip" title="Facebook"></a><a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-twitter" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Twitter" data-toggle="tooltip" title="Twitter"></a><a class="fusion-social-network-icon fusion-tooltip fusion-instagram fusion-icon-instagram" style="color:#ffffff;background-color:#c5c5d7;border-color:#c5c5d7;border-radius:2px;" aria-label="fusion-instagram" target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA" data-placement="top" data-title="Instagram" data-toggle="tooltip" title="Instagram"></a></div></div></div></div><div class="fusion-clearfix"></div></div></div></div></div><div class="fusion-bg-parallax"  data-bg-align="center center" data-direction="up" data-mute="false" data-opacity="100" data-velocity="-0.3" data-mobile-enabled="false" data-break_parents="0" data-bg-image="assets/upload/2015/01/about-parallax1-3.jpg" data-bg-repeat="false" data-bg-color="#f0f0ed" data-bg-height="" data-bg-width=""></div><div class="fusion-fullwidth fullwidth-box fusion-builder-row-4 fusion-parallax-up nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f0f0ed;background-image: url("assets/upload/2015/01/about-parallax1-3.jpg");background-position: center center;background-repeat: no-repeat;padding-top:110px;padding-right:30px;padding-bottom:110px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-12 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-5 fusion-title-center fusion-title-text fusion-title-size-two" style="font-size:54px;margin-top:0px;margin-bottom:0px;"><div class="title-sep-container title-sep-container-left"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h2 class="title-heading-center" style="margin:0;font-size:1em;line-height:2em;color:#ffffff;">OUR PARTNERS</h2><div class="title-sep-container title-sep-container-right"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div></div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#ffffff;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:35px;width:100%;max-width:170px;"></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_6 fusion-builder-column-13 fusion-one-sixth fusion-column-first 1_6"  style='margin-top:0px;margin-bottom:20px;width:13.3333%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_2_3 fusion-builder-column-14 fusion-two-third 2_3"  style='margin-top:0px;margin-bottom:20px;width:65.3333%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-6 fusion-title-center fusion-title-text fusion-title-size-three" style="margin-top:0px;margin-bottom:0px;"><div class="title-sep-container title-sep-container-left"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h3 class="title-heading-center" style="margin:0;line-height:2em;color:#ffffff;">We work with the very best. We are proud of our partners, who work with us to deliver the best in bespoke travel.</h3><div class="title-sep-container title-sep-container-right"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_6 fusion-builder-column-15 fusion-one-sixth fusion-column-last 1_6"  style='margin-top:0px;margin-bottom:20px;width:13.3333%'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-16 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-sep-clear"></div><div class="fusion-separator sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:20px;width:100%;max-width:170px;"></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-17 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-image-carousel fusion-image-carousel-auto"><div class="fusion-carousel" data-autoplay="yes" data-columns="5" data-itemmargin="45" data-itemwidth="180" data-touchscroll="yes" data-imagesize="auto" data-scrollitems="1"><div class="fusion-carousel-positioner"><ul class="fusion-carousel-holder"><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo41-3.png" class="attachment-full size-full" alt="logo4" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo31-3.png" class="attachment-full size-full" alt="logo3" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo21-3.png" class="attachment-full size-full" alt="logo2" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo11-3.png" class="attachment-full size-full" alt="logo1" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo52-3.png" class="attachment-full size-full" alt="logo5" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo21-3.png" class="attachment-full size-full" alt="logo2" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo11-3.png" class="attachment-full size-full" alt="logo1" /></div></div></li><li class="fusion-carousel-item"><div class="fusion-carousel-item-wrapper"><div class="fusion-image-wrapper hover-type-none"><img width="197" height="115" src="assets/upload/2015/01/logo52-3.png" class="attachment-full size-full" alt="logo5" /></div></div></li></ul></div></div></div><div class="fusion-clearfix"></div></div></div></div></div><div class="fusion-fullwidth fullwidth-box fusion-builder-row-5 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f0f0ed;background-position: left top;background-repeat: no-repeat;padding-top:60px;padding-right:30px;padding-bottom:110px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-18 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-7 fusion-title-center fusion-title-text fusion-title-size-two" style="font-size:54px;margin-top:0px;margin-bottom:0px;"><div class="title-sep-container title-sep-container-left"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h2 class="title-heading-center" style="margin:0;font-size:1em;line-height:2em;">OUR PROMISE</h2><div class="title-sep-container title-sep-container-right"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div></div><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#000000;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:35px;width:100%;max-width:170px;"></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_6 fusion-builder-column-19 fusion-one-sixth fusion-column-first 1_6"  style='margin-top:0px;margin-bottom:20px;width:13.3333%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_2_3 fusion-builder-column-20 fusion-two-third 2_3"  style='margin-top:0px;margin-bottom:20px;width:65.3333%; margin-right: 4%;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><style type="text/css"></style><div class="fusion-title title fusion-title-8 fusion-title-center fusion-title-text fusion-title-size-three" style="margin-top:0px;margin-bottom:0px;"><div class="title-sep-container title-sep-container-left"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div><h3 class="title-heading-center" style="margin:0;line-height:2em;">No request is too big or small for our team. If it matters to you, it matters to us. Let us make your escape perfect.</h3><div class="title-sep-container title-sep-container-right"><div class="title-sep sep-" style="border-color:#e0dede;"></div></div></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_6 fusion-builder-column-21 fusion-one-sixth fusion-column-last 1_6"  style='margin-top:0px;margin-bottom:20px;width:13.3333%'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-22 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-sep-clear"></div><div class="fusion-separator sep-none" style="margin-left: auto;margin-right: auto;margin-top:;margin-bottom:40px;width:100%;max-width:170px;"></div><div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-23 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-tabs fusion-tabs-1 clean nav-not-justified horizontal-tabs icon-position-left"><style type="text/css">#wrapper .fusion-tabs.fusion-tabs-1.clean .nav-tabs li a.tab-link{border-color:#c5c5d7;}.fusion-tabs.fusion-tabs-1 .nav-tabs li a.tab-link{background-color:#f0f0ed;}.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a.tab-link,.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a.tab-link:hover,.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a.tab-link:focus{background-color:rgba(255,255,255,.4);}.fusion-tabs.fusion-tabs-1 .nav-tabs li a:hover{background-color:rgba(255,255,255,.4);border-top-color:rgba(255,255,255,.4);}.fusion-tabs.fusion-tabs-1 .tab-pane{background-color:rgba(255,255,255,.4);}.fusion-tabs.fusion-tabs-1 .nav,.fusion-tabs.fusion-tabs-1 .nav-tabs,.fusion-tabs.fusion-tabs-1 .tab-content .tab-pane{border-color:#c5c5d7;}</style><div class="nav"><ul class="nav-tabs"><li class="active"><a class="tab-link" data-toggle="tab" id="fusion-tab-whoweare" href="#tab-62409a6bb511ca9052e"><h4 class="fusion-tab-heading"><i class="fontawesome-icon fa-star far" style="font-size:13px;"></i>Who we are</h4></a></li><li><a class="tab-link" data-toggle="tab" id="fusion-tab-whatwedo" href="#tab-3718d07ddb517a18ad8"><h4 class="fusion-tab-heading"><i class="fontawesome-icon fa-plane fas" style="font-size:13px;"></i>What we do</h4></a></li><li><a class="tab-link" data-toggle="tab" id="fusion-tab-whatwebeleive" href="#tab-dfe314d630376182a82"><h4 class="fusion-tab-heading"><i class="fontawesome-icon fa-trophy fas" style="font-size:13px;"></i>What we beleive</h4></a></li></ul></div><div class="tab-content"><div class="nav fusion-mobile-tab-nav"><ul class="nav-tabs"><li class="active"><a class="tab-link" data-toggle="tab" id="mobile-fusion-tab-whoweare" href="#tab-62409a6bb511ca9052e"><h4 class="fusion-tab-heading"><i class="fontawesome-icon fa-star far" style="font-size:13px;"></i>Who we are</h4></a></li></ul></div><div class="tab-pane fade fusion-clearfix in active" id="tab-62409a6bb511ca9052e">
<div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:15px;"></div><div class="fusion-builder-row fusion-builder-row-inner fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-nested-column-1 fusion-one-half fusion-column-first 1_2"  style='margin-top: 0px;margin-bottom: 20px;width:48%; margin-right:4%;'>
					<div class="fusion-column-wrapper fusion-column-wrapper-1" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
						<div class="imageframe-align-center"><span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" class="fusion-imageframe imageframe-none imageframe-4 hover-type-none fusion-animated" data-animationType="fadeInLeft" data-animationDuration="1" data-animationOffset="100%"><img src="assets/upload/2015/02/tab2-3.jpg" width="470" height="289" alt="tab2" class="img-responsive wp-image-622"/></span></div>

					</div>
				</div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-nested-column-2 fusion-one-half fusion-column-last 1_2"  style='margin-top: 0px;margin-bottom: 20px;width:48%'>
					<div class="fusion-column-wrapper fusion-column-wrapper-2" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
						<div class="fusion-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna luctus. Donec at commodo erat. Sed egestas consequat augue eu iaculis facilis <span class="fusion-tooltip tooltip-shortcode" data-animation="" data-delay="0" data-placement="top" data-title="We Make Dream Vacations" title="We Make Dream Vacations" data-toggle="tooltip" data-trigger="hover">sadips ipsums dolores</span>. Sed gravida, nisl ac lobortis pulvinar augue.</p>
<p><em>Tempus eget urna id, maximus commodo odio. Lorem ipsum dolor sit amet, consectetur elits sadips. Praesent alis lacus. Nunc at vulputate justo.</em></p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:5px;margin-bottom:5px;"></div><div class="fusion-button-wrapper fusion-alignleft"><style type="text/css">.fusion-button.button-1 {border-radius:4px;}.fusion-button.button-1.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}.button-1.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d button-large button-default button-1 fusion-button-default-span " target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA"><span class="fusion-button-text">Learn More</span></a></div><div class="fusion-button-wrapper fusion-alignleft"><style type="text/css">.fusion-button.button-2 {border-radius:4px;}.fusion-button.button-2.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}.button-2.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d button-large button-default button-2 fusion-button-default-span " target="_blank" rel="noopener noreferrer" href="make-a-reservation/"><span class="fusion-button-text">Make A Reservation</span></a></div>

					</div>
				</div></div>
</div><div class="nav fusion-mobile-tab-nav"><ul class="nav-tabs"><li><a class="tab-link" data-toggle="tab" id="mobile-fusion-tab-whatwedo" href="#tab-3718d07ddb517a18ad8"><h4 class="fusion-tab-heading"><i class="fontawesome-icon fa-plane fas" style="font-size:13px;"></i>What we do</h4></a></li></ul></div><div class="tab-pane fade fusion-clearfix" id="tab-3718d07ddb517a18ad8">
<div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:15px;"></div><div class="fusion-builder-row fusion-builder-row-inner fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-nested-column-3 fusion-one-half fusion-column-first 1_2"  style='margin-top: 0px;margin-bottom: 20px;width:48%; margin-right:4%;'>
					<div class="fusion-column-wrapper fusion-column-wrapper-3" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
						<div class="imageframe-align-center"><span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" class="fusion-imageframe imageframe-none imageframe-5 hover-type-none fusion-animated" data-animationType="fadeInLeft" data-animationDuration="1" data-animationOffset="100%"><img src="assets/upload/2015/02/tab1-3.jpg" width="470" height="289" alt="tab1" class="img-responsive wp-image-621"/></span></div>

					</div>
				</div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-nested-column-4 fusion-one-half fusion-column-last 1_2"  style='margin-top: 0px;margin-bottom: 20px;width:48%'>
					<div class="fusion-column-wrapper fusion-column-wrapper-4" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
						<div class="fusion-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna luctus. Donec at commodo erat. Sed egestas consequat augue eu iaculis facilis <span class="fusion-tooltip tooltip-shortcode" data-animation="" data-delay="0" data-placement="top" data-title="We Make Dream Vacations" title="We Make Dream Vacations" data-toggle="tooltip" data-trigger="hover">sadips ipsums dolores</span>. Sed gravida, nisl ac lobortis pulvinar augue.</p>
<p><em>Tempus eget urna id, maximus commodo odio. Lorem ipsum dolor sit amet, consectetur elits sadips. Praesent alis lacus. Nunc at vulputate justo.</em></p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:5px;margin-bottom:5px;"></div><div class="fusion-button-wrapper fusion-alignleft"><style type="text/css">.fusion-button.button-3 {border-radius:4px;}.fusion-button.button-3.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}.button-3.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d button-large button-default button-3 fusion-button-default-span " target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA"><span class="fusion-button-text">Learn More</span></a></div><div class="fusion-button-wrapper fusion-alignleft"><style type="text/css">.fusion-button.button-4 {border-radius:4px;}.fusion-button.button-4.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}.button-4.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d button-large button-default button-4 fusion-button-default-span " target="_blank" rel="noopener noreferrer" href="make-a-reservation/"><span class="fusion-button-text">Make A Reservation</span></a></div>

					</div>
				</div></div>
</div><div class="nav fusion-mobile-tab-nav"><ul class="nav-tabs"><li><a class="tab-link" data-toggle="tab" id="mobile-fusion-tab-whatwebeleive" href="#tab-dfe314d630376182a82"><h4 class="fusion-tab-heading"><i class="fontawesome-icon fa-trophy fas" style="font-size:13px;"></i>What we beleive</h4></a></li></ul></div><div class="tab-pane fade fusion-clearfix" id="tab-dfe314d630376182a82">
<div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:15px;"></div><div class="fusion-builder-row fusion-builder-row-inner fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-nested-column-5 fusion-one-half fusion-column-first 1_2"  style='margin-top: 0px;margin-bottom: 20px;width:48%; margin-right:4%;'>
					<div class="fusion-column-wrapper fusion-column-wrapper-5" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
						<div class="imageframe-align-center"><span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" class="fusion-imageframe imageframe-none imageframe-6 hover-type-none fusion-animated" data-animationType="fadeInLeft" data-animationDuration="1" data-animationOffset="100%"><img src="assets/upload/2015/02/tab3-3.jpg" width="470" height="289" alt="tab3" class="img-responsive wp-image-623"/></span></div>

					</div>
				</div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-nested-column-6 fusion-one-half fusion-column-last 1_2"  style='margin-top: 0px;margin-bottom: 20px;width:48%'>
					<div class="fusion-column-wrapper fusion-column-wrapper-6" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
						<div class="fusion-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna luctus. Donec at commodo erat. Sed egestas consequat augue eu iaculis facilis <span class="fusion-tooltip tooltip-shortcode" data-animation="" data-delay="0" data-placement="top" data-title="We Make Dream Vacations" title="We Make Dream Vacations" data-toggle="tooltip" data-trigger="hover">sadips ipsums dolores</span>. Sed gravida, nisl ac lobortis pulvinar augue.</p>
<p><em>Tempus eget urna id, maximus commodo odio. Lorem ipsum dolor sit amet, consectetur elits sadips. Praesent alis lacus. Nunc at vulputate justo.</em></p>
</div><div class="fusion-sep-clear"></div><div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:5px;margin-bottom:5px;"></div><div class="fusion-button-wrapper fusion-alignleft"><style type="text/css">.fusion-button.button-5 {border-radius:4px;}.fusion-button.button-5.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}.button-5.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d button-large button-default button-5 fusion-button-default-span " target="_blank" rel="noopener noreferrer" href="https://bit.ly/2vo0slA"><span class="fusion-button-text">Learn More</span></a></div><div class="fusion-button-wrapper fusion-alignleft"><style type="text/css">.fusion-button.button-6 {border-radius:4px;}.fusion-button.button-6.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}.button-6.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 4px 0px #525287,1px 6px 6px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d button-large button-default button-6 fusion-button-default-span " target="_blank" rel="noopener noreferrer" href="make-a-reservation/"><span class="fusion-button-text">Make A Reservation</span></a></div>

					</div>
				</div></div>
</div></div></div><div class="fusion-clearfix"></div></div></div></div></div>
							</div>
												</div>
	</section>
						
					</div>  <!-- fusion-row -->
				</main>  <!-- #main -->
				
				
	<!-- footer -->							
    <%- include('footer') %>