<%- include('header') %>						
		<div id="sliders-container">
			<div id="fusion-slider-62" data-id="62" class="fusion-slider-container fusion-slider-16 full-width-slider-container" style="height:600px;max-width:100%;">
	<style type="text/css">
		#fusion-slider-62 .flex-direction-nav a {width:63px;height:63px;line-height:63px;font-size:25px;}	</style>
	<div class="fusion-slider-loading">Loading...</div>
		<div class="tfs-slider flexslider main-flex full-width-slider" style="max-width:100%;--typography_sensitivity:1;" data-slider_width="100%" data-slider_height="600px" data-full_screen="0" data-parallax="1" data-nav_arrows="0" data-pagination_circles="0" data-autoplay="0" data-loop="0" data-animation="fade" data-slideshow_speed="7000" data-animation_speed="600" data-slider_content_width="" data-typo_sensitivity="1" data-typo_factor="1.25" data-orderby="date" data-order="DESC" data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-slider_indicator="" data-slider_indicator_color="#ffffff" >
		<ul class="slides" style="max-width:100%;">
															<li class="slide-id-319" data-mute="yes" data-loop="yes" data-autoplay="yes">
					<div class="slide-content-container slide-content-center" style="display: none;">
						<div class="slide-content" style="">
															<div class="heading ">
									<div class="fusion-title-sc-wrapper" style="">
										<style type="text/css"></style><div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-two" style="margin-top:0px;margin-bottom:0px;"><h2 class="title-heading-center" style="margin:0;color:#ffffff;font-size:70px;line-height:84px;">TRAVEL BLOG</h2></div>									</div>
								</div>
																						<div class="caption ">
									<div class="fusion-title-sc-wrapper" style="">
										<style type="text/css"></style><div class="fusion-title title fusion-title-2 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-three" style="margin-top:0px;margin-bottom:0px;"><h3 class="title-heading-center" style="margin:0;color:#ffffff;font-size:26px;line-height:31.2px;">Our researchers travel far and wide to bring you the very best in travel news and opinion. Why accept anything less?</h3></div>									</div>
								</div>
																						<div class="buttons" >
																										</div>
													</div>
					</div>
																									<div class="background background-image" style="background-image: url(assets/upload/2015/01/IMG_5328-scaled.jpg);max-width:100%;height:600px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/upload/2015/01/IMG_5328-scaled.jpg', sizingMethod='scale');" data-imgwidth="1920">
																							</div>
				</li>
					</ul>
	</div>
</div>
		</div>
				
			
			<div class="avada-page-titlebar-wrapper">
							</div>

						<main id="main" class="clearfix width-100">
				<div class="fusion-row" style="max-width:100%;">
<section id="content" class="full-width">
					<div id="post-16" class="post-16 page type-page status-publish hentry">
			<span class="entry-title rich-snippet-hidden">Travel Blog</span><span class="vcard rich-snippet-hidden"><span class="fn"><a href="author/thatrafi/" title="Posts by thatrafi" rel="author">thatrafi</a></span></span><span class="updated rich-snippet-hidden">2015-01-27T11:55:16+00:00</span>	<div class="post-content">
				<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f0f0ed;background-position: left top;background-repeat: no-repeat;padding-top:110px;padding-right:30px;padding-bottom:13px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
				<div class="fusion-builder-row fusion-row ">
				
				<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
				<div class="fusion-post-slider fusion-flexslider fusion-flexslider-loading flexslider-posts-with-excerpt">
				<ul class="slides">
				<!-- Looping -->
				<div id="data-slides">
					<li><a href="" aria-label="Europe Travel Guide 2015"><img class="wp-image-820" src="assets/upload/article/1609857895204_colombo.jpeg" alt="blog5" /></a>
						<div class="slide-excerpt"><div class="excerpt-container"><h2>
						<a href="">AKOAKOAKKO</a></h2>
						<p></p>
						</div></div>
						</li>
					
				</div>
				
			    <!-- endloop -->
				</ul>
				</div>
				<div class="fusion-sep-clear"></div>
				<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:;"></div>
				<div class="fusion-clearfix"></div>
				</div>

				</div></div>
				<div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f0f0ed;background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:60px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
				<div class="fusion-builder-row fusion-row ">
				<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-2 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'>
				<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
				<div class="fusion-blog-shortcode fusion-blog-shortcode-1 fusion-blog-archive fusion-blog-layout-grid-wrapper fusion-blog-infinite">
				<style type="text/css">.fusion-blog-shortcode-1 .fusion-blog-layout-grid .fusion-post-grid{padding:20.5px;}.fusion-blog-shortcode-1 .fusion-posts-container{margin-left: -20.5px !important; margin-right:-20.5px !important;}</style>
				<div class="fusion-posts-container fusion-posts-container-infinite fusion-posts-container-load-more fusion-blog-rollover fusion-blog-layout-grid fusion-blog-layout-grid-3 isotope" data-pages="4" data-grid-col-space="41" style="margin: -20.5px -20.5px 0;min-height:500px;">
				
				<div id="data-article">

				</div>
				
					<div class="fusion-clearfix"></div></div>
					<div class="fusion-infinite-scroll-trigger"></div>
					<div class="pagination infinite-scroll clearfix" style="display:none;">
					<span class="current">1</span><a href="" class="inactive">2</a>
					<a class="pagination-next" href="">
					<span class="page-text">Next</span><span class="page-next"></span></a></div>
					<div class="fusion-clearfix"></div>
					<div class="fusion-load-more-button fusion-blog-button fusion-clearfix">Load More Posts</div></div>
					<div class="fusion-clearfix"></div></div></div></div></div>
					<div class="fusion-bg-parallax"  data-bg-align="center center" data-direction="up" data-mute="false" data-opacity="100" data-velocity="-0.3" data-mobile-enabled="false" data-break_parents="0" data-bg-image="assets/upload/2015/01/parallax-section1-3.jpg" data-bg-repeat="false" data-bg-color="#6666a4" data-bg-height="" data-bg-width=""></div>
					
					</div></div>
					</section>
					</div>  <!-- fusion-row -->
				</main>  <!-- #main -->
				<%- include('footer') %>
				<script src="../js/article.js"></script>
				
								
		