<%- include('header') %>	
		<div id="sliders-container">
			<div id="fusion-slider-59" data-id="59" class="fusion-slider-container fusion-slider-13 full-width-slider-container" style="height:600px;max-width:100%;">
	<style type="text/css">
		#fusion-slider-59 .flex-direction-nav a {width:63px;height:63px;line-height:63px;font-size:25px;}	</style>
	<div class="fusion-slider-loading">Loading...</div>
		<div class="tfs-slider flexslider main-flex full-width-slider" style="max-width:100%;--typography_sensitivity:1;" data-slider_width="100%" data-slider_height="600px" data-full_screen="0" data-parallax="1" data-nav_arrows="0" data-pagination_circles="0" data-autoplay="0" data-loop="0" data-animation="fade" data-slideshow_speed="7000" data-animation_speed="600" data-slider_content_width="" data-typo_sensitivity="1" data-typo_factor="1.25" data-orderby="date" data-order="DESC" data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-slider_indicator="" data-slider_indicator_color="#ffffff" >
		<ul class="slides" style="max-width:100%;">
															<li class="slide-id-96" data-mute="yes" data-loop="yes" data-autoplay="yes">
					<div class="slide-content-container slide-content-center" style="display: none;">
						<div class="slide-content" style="">
															<div class="heading ">
									<div class="fusion-title-sc-wrapper" style="">
										<style type="text/css"></style><div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-two" style="margin-top:0px;margin-bottom:0px;"><h2 class="title-heading-center" style="margin:0;color:#ffffff;font-size:70px;line-height:84px;">OUR DESTINATIONS</h2></div>									</div>
								</div>
																													<div class="buttons" >
																										</div>
													</div>
					</div>
																									<div class="background background-image" style="background-image: url(assets/upload/2015/01/IMG_6851-scaled.jpg);max-width:100%;height:600px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/upload/2015/01/IMG_6851-scaled.jpg', sizingMethod='scale');" data-imgwidth="2560">
																							</div>
				</li>
					</ul>
	</div>
</div>
		</div>
				
			
			<div class="avada-page-titlebar-wrapper">
							</div>

						<main id="main" class="clearfix width-100">
				<div class="fusion-row" style="max-width:100%;">
<section id="content" class="full-width">
					<div id="post-13" class="post-13 page type-page status-publish hentry">
			<span class="entry-title rich-snippet-hidden">Our Destinations</span><span class="vcard rich-snippet-hidden"><span class="fn"><a href="author/thatrafi/" title="Posts by thatrafi" rel="author">thatrafi</a></span></span><span class="updated rich-snippet-hidden">2015-01-27T11:54:55+00:00</span>						<div class="post-content">
				<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f0f0ed;background-position: left top;background-repeat: no-repeat;padding-top:110px;padding-right:30px;padding-bottom:25px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row ">
				<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-0 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-recent-works fusion-portfolio-element fusion-portfolio fusion-portfolio-1 fusion-portfolio-grid fusion-portfolio-paging-none fusion-portfolio-three fusion-portfolio-no_text fusion-portfolio-rollover" data-id="-rw-1" data-columns="three"><style type="text/css">.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing{padding:6px;}</style>
					<div class="fusion-portfolio-wrapper" id="fusion-portfolio-1" data-picturesize="auto" data-pages="1" style="margin:-6px;">
				<!-- End Loop -->
				
				<div id="data-destination">
					
				</div>
				
				
				<!-- Start Loop -->
				
				</div></div><div class="fusion-clearfix"></div></div></div></div></div>
				<div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #6666a4;background-position: left top;background-repeat: no-repeat;padding-top:80px;padding-right:30px;padding-bottom:80px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
				<div class="fusion-builder-row fusion-row ">
				<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'>
				<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
				<div class="fusion-counters-box counters-box row fusion-clearfix fusion-columns-4">
				<div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3" data-animationOffset="100%">
				<div class="counter-box-container" style="border: 1px solid #6666a4;">
				<div class="content-box-percentage content-box-counter" style="color:#ffffff;font-size:54px;line-height:normal;">
				<span class="display-counter" data-value="97134" data-delimiter="," data-direction="up" data-decimals="0">0</span></div>
				<div class="counter-box-content" style="color:#ffffff;font-size:18px;">Happy Holiday Makers</div></div></div>
				<div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3" data-animationOffset="100%">
				<div class="counter-box-container" style="border: 1px solid #6666a4;">
				<div class="content-box-percentage content-box-counter" style="color:#ffffff;font-size:54px;line-height:normal;">
				<span class="display-counter" data-value="192" data-direction="up" data-decimals="0">0</span></div>
				<div class="counter-box-content" style="color:#ffffff;font-size:18px;">Countries to Visit</div></div>
				</div>
				<div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3" data-animationOffset="100%">
				<div class="counter-box-container" style="border: 1px solid #6666a4;">
				<div class="content-box-percentage content-box-counter" style="color:#ffffff;font-size:54px;line-height:normal;">
				<span class="display-counter" data-value="24902" data-delimiter="," data-direction="up" data-decimals="0">0</span></div>
				<div class="counter-box-content" style="color:#ffffff;font-size:18px;">Miles of Earth to Explore</div></div></div>
				<div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3" data-animationOffset="100%">
				<div class="counter-box-container" style="border: 1px solid #6666a4;">
				<div class="content-box-percentage content-box-counter" style="color:#ffffff;font-size:54px;line-height:normal;">
				<span class="display-counter" data-value="8710" data-delimiter="," data-direction="up" data-decimals="0">0</span></div>
				<div class="counter-box-content" style="color:#ffffff;font-size:18px;">Beaches to Discover</div></div></div>
				</div>
				<div class="clearfix"></div>
				<div class="fusion-clearfix"></div>
				</div></div></div></div>
				<div class="fusion-bg-parallax"  data-bg-align="center center" data-direction="up" data-mute="false" data-opacity="100" data-velocity="-0.3" data-mobile-enabled="false" data-break_parents="0" data-bg-image="assets/upload/2015/01/destination-parallax21-3.jpg" data-bg-repeat="false" data-bg-color="#6666a4" data-bg-height="" data-bg-width=""></div>
				<div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 fusion-parallax-up nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #6666a4;background-image: url("assets/upload/2015/01/destination-parallax21-3.jpg");background-position: center center;background-repeat: no-repeat;padding-top:220px;padding-right:30px;padding-bottom:220px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;'>
				<div class="fusion-builder-row fusion-row ">
				<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-2 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'>
				<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
				<style type="text/css"></style>
				<div class="fusion-title title fusion-title-2 fusion-title-center fusion-title-text fusion-title-size-two" style="font-size:54px;margin-top:0px;margin-bottom:0px;">
				<div class="title-sep-container title-sep-container-left">
				<div class="title-sep sep-" style="border-color:#e0dede;">
				</div></div>
				<h2 class="title-heading-center" style="margin:0;font-size:1em;line-height:2em;color:#ffffff;">SWEETLANKA</h2>
				<div class="title-sep-container title-sep-container-right">
				<div class="title-sep sep-" style="border-color:#e0dede;">
				</div></div></div
				><div class="fusion-clearfix"></div></div></div>
				<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-3 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1"  style='margin-top:0px;margin-bottom:0px;'>
				<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
				<style type="text/css"></style>
				<div class="fusion-title title fusion-title-3 fusion-title-center fusion-title-text fusion-title-size-three" style="margin-top:0px;margin-bottom:0px;">
				<div class="title-sep-container title-sep-container-left">
				<div class="title-sep sep-" style="border-color:#e0dede;"></div>
				</div><h3 class="title-heading-center" style="margin:0;line-height:2em;color:#ffffff;">We believe no two getaways should be the same and a busy life deserves the very best. We take the time to get to know you so we can help you find your perfect escape.</h3>
				<div class="title-sep-container title-sep-container-right">
				<div class="title-sep sep-" style="border-color:#e0dede;">
				</div></div></div>
				<div class="fusion-sep-clear"></div>
				<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:20px;"></div>
				<div class="fusion-button-wrapper fusion-aligncenter">
				<style type="text/css">.fusion-button.button-1 {border-radius:4px;}.fusion-button.button-1.button-3d{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 5px 0px #525287,1px 7px 7px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 5px 0px #525287,1px 7px 7px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 5px 0px #525287,1px 7px 7px 3px rgba(0,0,0,0.3);}.button-1.button-3d:active{-webkit-box-shadow: inset 0px 1px 0px #fff,0px 5px 0px #525287,1px 7px 7px 3px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 1px 0px #fff,0px 5px 0px #525287,1px 7px 7px 3px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px #fff,0px 5px 0px #525287,1px 7px 7px 3px rgba(0,0,0,0.3);}</style><a class="fusion-button button-3d fusion-button-default-size button-default button-1 fusion-button-default-span fusion-button-default-type" target="_self" href="reservation"><span class="fusion-button-text">MAKE A RESERVATION</span></a></div>
						<div class="fusion-clearfix"></div></div></div>
						</div></div></div>
							</div>
												</div>
	</section>
						
					</div>  <!-- fusion-row -->
				</main>  <!-- #main -->
				
				
				
				<%- include('footer') %>
				<script src="js/destination.js"></script>	
				<script src="https://cdn.jsdelivr.net/npm/flow-gallery@latest/dist/flow-gallery.min.js"></script>
				<script></script>	
		