<%- include('header') %>		
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<div id="sliders-container">
			<div id="fusion-slider-60" data-id="60" class="fusion-slider-container fusion-slider-11 full-width-slider-container" style="height:600px;max-width:100%;">
	<style type="text/css">
		#fusion-slider-60 .flex-direction-nav a {width:63px;height:63px;line-height:63px;font-size:25px;}	</style>
	<div class="fusion-slider-loading">Loading...</div>
		<div class="tfs-slider flexslider main-flex full-width-slider" style="max-width:100%;--typography_sensitivity:1;" data-slider_width="100%" data-slider_height="600px" data-full_screen="0" data-parallax="1" data-nav_arrows="0" data-pagination_circles="0" data-autoplay="0" data-loop="0" data-animation="fade" data-slideshow_speed="7000" data-animation_speed="600" data-slider_content_width="" data-typo_sensitivity="1" data-typo_factor="1.25" data-orderby="date" data-order="DESC" data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-slider_indicator="" data-slider_indicator_color="#ffffff" >
		<ul class="slides" style="max-width:100%;">
															<li class="slide-id-152" data-mute="yes" data-loop="yes" data-autoplay="yes">
					<div class="slide-content-container slide-content-center" style="display: none;">
						<div class="slide-content" style="">
															<div class="heading ">
									<div class="fusion-title-sc-wrapper" style="">
										<style type="text/css"></style><div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-two" style="margin-top:0px;margin-bottom:0px;"><h2 class="title-heading-center" style="margin:0;color:#ffffff;font-size:70px;line-height:84px;">MAKE A RESERVATION</h2></div>									</div>
								</div>
																													<div class="buttons" >
																										</div>
													</div>
					</div>
																									<div class="background background-image" style="background-image: url(assets/upload/2015/01/IMG_1955-scaled.jpg);max-width:100%;height:600px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/upload/2015/01/IMG_1955-scaled.jpg', sizingMethod='scale');" data-imgwidth="2560">
																							</div>
				</li>
					</ul>
	</div>
</div>
		</div>
				
			
			<div class="avada-page-titlebar-wrapper">
							</div>

<main id="main" class="clearfix width-100">
				<div class="fusion-row" style="max-width:100%;">
<section id="content" class="full-width">
					<div id="post-11" class="post-11 page type-page status-publish hentry">
			<span class="entry-title rich-snippet-hidden">Make a reservation</span><span class="vcard rich-snippet-hidden"><span class="fn"><a href="author/thatrafi/" title="Posts by thatrafi" rel="author">thatrafi</a></span></span><span class="updated rich-snippet-hidden">2020-04-17T15:27:21+00:00</span>						<div class="post-content">
				<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?language=en&#038;ver=1'></script>
<script type='text/javascript' src='assets/themes/Avada/includes/lib/assets/min/js/library/infobox_packed.js?ver=1'></script>
<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:70px;padding-right:30px;padding-bottom:75px;padding-left:30px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
<!-- content -->
<div class="fusion-builder-row fusion-row " id="mainform">
<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-0 fusion-one-half fusion-column-first 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%; margin-right: 4%;'>
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
<style type="text/css"></style>
<div class="fusion-title title fusion-title-2 fusion-title-text fusion-title-size-two" style="font-size:26px;margin-top:0px;margin-bottom:20px;">
<h2 class="title-heading-left" style="margin:0;font-size:1em;">Contact Us</h2>
<div class="title-sep-container"><div class="title-sep sep-" style="border-color:#e0dede;">
</div></div></div>
<div class="fusion-text">
<p>Send us a message and we will take the time to get to know you so we can help you find your amazing 
adventure.</p>
</div>
<div role="form" class="wpcf7" id="wpcf7-f1620-p11-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="" method="post" id="datareservation" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<!-- <input type="hidden" name="_wpcf7" value="1620" />
<input type="hidden" name="_wpcf7_version" value="5.1.7" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1620-p11-o1" />
<input type="hidden" name="_wpcf7_container_post" value="11" /> -->
</div>
<!-- input -->
	<div class="row">
		<div class="col-lg-6">
		<div class="form-group">
		<input type="hidden" id="bookid" value=""></input>
		<label for="exampleFormControlInput">Your Name</label>
		<input type="text" name="fullname" class="form-control" id="exampleFormControlInput" placeholder="Full name...">
		<font color="red" size="2px" id="ename"></font>
	</div>
		</div>
		<div class="col-lg-6">
		<div class="form-group">
		<label for="exampleFormControlInput1">Email address</label>
		<input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		<font color="red" size="2px" id="eemail"></font>
	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
			<label for="exampleFormControlInput">Telephone No</label>
			<input type="text" name="phone_number" class="form-control" id="exampleFormControlInput" placeholder="Telephone No..">
			<font color="red" size="2px" id="etelp"></font>
			</div>
		</div>
		<div class="col-lg-6">
		<div class="form-group">
			<label for="exampleFormControlSelect1">Location</label>
			<select name="location" class="form-control" id="loc">
			</select>
			<font color="red" size="2px" id="eloc"></font>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
			<label for="exampleFormControlInput">Start Trip Date</label>
			<input type="date" name="start_date" class="form-control" id="exampleFormControlInput" placeholder="Start Date">
			<font color="red" size="2px" id="estartdate"></font>	
		</div>
		</div>
		<div class="col-lg-6">
		<div class="form-group">
			<label for="exampleFormControlSelect1">Duration</label>
			<select class="form-control" name="duration" id="dur">
			</select>
			<font color="red" size="2px" id="edur"></font>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
			<label for="exampleFormControlInput">Adults</label>
			<input type="text" name="no_adult" class="form-control" id="exampleFormControlInput" placeholder="0">
			<font color="red" size="2px" id="eadult"></font>
			</div>
		</div>
		<div class="col-lg-6">
		<div class="form-group">
			<label for="exampleFormControlInput">Child</label>
			<input type="text" name="no_child" class="form-control" id="exampleFormControlInput" placeholder="0">
		</div>
		</div>
	</div>
				<label>Preference</label>
				<div class="form-group" id="bookid">
					<input type="text" style="color: black;" value="animals,mountain" class="form-control" name="preferences" id="inputtags" data-role="tagsinput">
				  </div>
					<font color="red" size="2px" id="epref"></font>
                    <div class="form-group">
                    <label for="exampleInputDesc">Notes</label>
                        <textarea name="notes" id="inputnotes" class="form-control" rows="3" placeholder="Enter ..."></textarea>
						<font color="red" size="2px" id="enote"></font>
					</div>
</form>
<p><input type="button" data-toggle="modal" onclick="" data-target="#exampleModal" value="Book Now" class="wpcf7-form-control wpcf7-submit" /></p>

</div> <!-- end of form  -->
<div class="fusion-clearfix"></div></div></div>
<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-1 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%'>
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
<style type="text/css"></style>
<div class="fusion-title title fusion-title-3 fusion-title-text fusion-title-size-two" style="font-size:26px;margin-top:0px;margin-bottom:20px;">
<h2 class="title-heading-left" style="margin:0;font-size:1em;">FAQ</h2><div class="title-sep-container"><div class="title-sep sep-" style="border-color:#e0dede;">
</div></div></div><div class="fusion-text"
><p>Still not sure if we can be of help? Check through some frequently asked questions and then send us a message.</p>
</div><div class="fusion-sep-clear"></div>
<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:;margin-bottom:20px;"></div>
<style type="text/css">
#accordion-11-1 .fusion-panel:hover, #accordion-11-1 .fusion-panel.hover{ background-color: #f4f4f4 }
 #accordion-11-1 .fusion-panel { border-color:#f2f2f2; border-width:0px; background-color:#f9f9f9; }.fusion-accordian  
 #accordion-11-1 .panel-title a .fa-fusion-box{ color: #333333;}.fusion-accordian  #accordion-11-1 .panel-title a .fa-fusion-box:before{ font-size: 15px; width: 15px;}.fusion-accordian  
 #accordion-11-1 .panel-title a{font-size:18px;}.fusion-accordian  
 #accordion-11-1 .panel-title a:hover, #accordion-11-1 .fusion-toggle-boxed-mode:hover .panel-title a { color: #6666a4;}.fusion-accordian  
 #accordion-11-1 .fusion-toggle-boxed-mode:hover .panel-title a .fa-fusion-box{ color: #6666a4;}.fusion-accordian  
 #accordion-11-1.fusion-toggle-icon-unboxed .fusion-panel .panel-title a:hover .fa-fusion-box{ color: #6666a4 !important;}
 </style>
 <div class="accordian fusion-accordian">
	 <div class="panel-group fusion-toggle-icon-unboxed" id="accordion-11-1" role="tablist">
		<!-- start--> 
	 	<div class="fusion-panel panel-default fusion-toggle-no-divider fusion-toggle-boxed-mode" role="tabpanel">
			 <div class="panel-heading">
				 <h4 class="panel-title toggle">
					 <a aria-expanded="false" aria-selected="false" aria-controls="e6c234cf46c4ce4d4" role="tab" data-toggle="collapse" data-parent="#accordion-11-1" data-target="#e6c234cf46c4ce4d4" href="#e6c234cf46c4ce4d4">
						 <span class="fusion-toggle-icon-wrapper" aria-hidden="true">
							 <i class="fa-fusion-box"></i>
							</span>
						<span class="fusion-toggle-heading">Do you do weddings?</span>
					</a>
				</h4>
			</div>
			<div id="e6c234cf46c4ce4d4" class="panel-collapse collapse ">
				<div class="panel-body toggle-content fusion-clearfix">Aliquam eu augue arcu. Vestibulum finibus eros id elit hendrerit 
					laoreet. Sed fringilla pellentesque justo quis lobortis. Morbi maximus ante at nulla sodales commodo 
					eu a tellus. Etiam rhoncus dolor leo, a fermentum massa tincidunt ut. Phasellus porttitor sapien mi.</p>
					<p>Suspendisse ornare iaculis auctor. Nunc placerat pellentesque tortor eu vehicula. In non magna mollis, sodales metus id, rhoncus elit. Mauris vulputate, tellus in viverra condimentum, metus diam lobortis leo, eu viverra justo elit elementum augue. Suspendisse efficitur maximus tellus quis faucibus. Nam non nunc quis risus tempor dapibus.
				</div>
			</div>
			</div>
			<div class="fusion-panel panel-default fusion-toggle-no-divider fusion-toggle-boxed-mode" role="tabpanel"><div class="panel-heading"><h4 class="panel-title toggle"><a aria-expanded="false" aria-selected="false" aria-controls="9447b9a7f487b1589" role="tab" data-toggle="collapse" data-parent="#accordion-11-1" data-target="#9447b9a7f487b1589" href="#9447b9a7f487b1589"><span class="fusion-toggle-icon-wrapper" aria-hidden="true"><i class="fa-fusion-box"></i></span><span class="fusion-toggle-heading">Must I pay in Advance?</span></a></h4></div><div id="9447b9a7f487b1589" class="panel-collapse collapse "><div class="panel-body toggle-content fusion-clearfix">Aliquam eu augue arcu. Vestibulum finibus eros id elit hendrerit laoreet. Sed fringilla pellentesque justo quis lobortis. Morbi maximus ante at nulla sodales commodo eu a tellus. Etiam rhoncus dolor leo, a fermentum massa tincidunt ut. Phasellus porttitor sapien mi.</p>
<p>Suspendisse ornare iaculis auctor. Nunc placerat pellentesque tortor eu vehicula. In non magna mollis, sodales metus id, rhoncus elit. Mauris vulputate, tellus in viverra condimentum, metus diam lobortis leo, eu viverra justo elit elementum augue. Suspendisse efficitur maximus tellus quis faucibus. Nam non nunc quis risus tempor dapibus.</div></div></div>
</div></div>
<!-- Map -->
<div class="fusion-clearfix"></div></div></div>
</div>
<!-- content -->
</div>
<!-- scnd content-->
<!-- content -->
<div class="fusion-builder-row fusion-row " id="confirmation" hidden>
<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-0 fusion-one-half fusion-column-first 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%; margin-right: 4%;'>
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
<style type="text/css"></style>
<div class="fusion-title title fusion-title-2 fusion-title-text fusion-title-size-two" style="font-size:26px;margin-top:0px;margin-bottom:20px;">
<h2 class="title-heading-left" style="margin:0;font-size:1em;">Package Result</h2>
<div class="title-sep-container"><div class="title-sep sep-" style="border-color:#e0dede;">
</div></div></div>
<div class="container">
<div id="tags">
<label> preference : </label>
<div id="userpref"></div>
<div class="alert alert-primary" style="max-width:32rem;margin-top:15px" id="msgresult" role="alert" hidden></div>

<div class="card" id="pkgresult" style="max-width: 32rem;margin-top:15px;">
  <img id="pkgimg" class="card-img-top" style="max-height:200px;background-size:cover;background-repeat:no-repeat;" alt="..."  >
  <div class="card-body">
    <h4 class="card-title" id="pkgtitle">Card title</h4>
	<div id="pkgtags"></div>
    <p class="card-text" id="pkgdesc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="row">
    <div class="col-3">
	  <ul class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	  <li class="nav-item">
        <a class="nav-link active" id="v-pills-itin-tab" data-toggle="pill" href="#v-pills-itin" role="tab" aria-controls="v-pills-itin" aria-selected="true">Itinerary</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" id="v-pills-vehicle-tab" data-toggle="pill" href="#v-pills-vehicle" role="tab" aria-controls="v-pills-vehicle" aria-selected="false">Vehicle</a>
      </li>
	  <li class="nav-item">
		<a class="nav-link" id="v-pills-inex-tab" data-toggle="pill" href="#v-pills-inex" role="tab" aria-controls="v-pills-inex" aria-selected="false">Inclusion</a>
      </li>
	  <li class="nav-item">
		<a class="nav-link" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab" aria-controls="v-pills-price" aria-selected="false">Price</a>
      </li>
	  </ul>
    </div>
    <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane active fade in" id="v-pills-itin" role="tabpanel" aria-labelledby="v-pills-itin-tab">
	  <div id="pkgitin">
	  <div id="itindateday"><h4><i class="icon fas fa-clock"></i> Day 01 ( date) - Title</h4></div>
                <div><label id="destname"><i class="icon fas fa-map-marker-alt"></i> Program </label></div>
                <div><h6 id="roomname"><i class="icon fas fa-home"></i> Sweetlanka Kandy </h6></div>
                <div><h6 id="mealname"><i class="icon fas fa-utensils"></i> Breakfast </h6></div>
                <div id="itinprogram" ><p>Far far away, behind the word mountains, far from the countries Vokalia and 
                Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at
                the coast of the Semantics, a large language ocean. A small river named Duden flows by their 
                place and supplies it with the necessary regelialia. It is a paradisematic country, 
                in which roasted parts of sentences fly into your mouth.</p></div>
	  </div>
	  </div>
      <div class="tab-pane fade" id="v-pills-vehicle" role="tabpanel" aria-labelledby="v-pills-vehicle-tab">
	  <div class="row" >
              <div class="col-sm-6">
                <img width="500px" style="margin-bottom:10px" height="400px" src="https://www.jetsetter.com/uploads/sites/7/2019/04/GettyImages-924894324-1380x690.jpg"></img>     
              </div>
              <div class="col-sm-6"> 
                <ul id="vinfo">
                    <li>Name :</li>
                    <li>Model :</li>
                </ul> 
              </div>
      </div>
	  </div>
      <div class="tab-pane fade" id="v-pills-inex" role="tabpanel" aria-labelledby="v-pills-inex-tab">
	  <div class="row">
              <div class="col-sm-6">
              <label>Include</label>
              <ul id="include" style="margin-left:-20px"></ul>
              </div>
              <div class="col-sm-6">
              <label>Exclude</label>
              <ul id="exclude" style="margin-left:-20px"></ul>
              </div>
              </div>
	  </div>
      <div class="tab-pane fade" id="v-pills-price" role="tabpanel" aria-labelledby="v-pills-price-tab">
	  <div class="card-body table-responsive p-0">
                <!-- <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Day</th>
                      <th>Destination</th>
                      <th>Room</th>
                      <th>Meal</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tbody id="data-plan"></tbody>
                </table> -->
                <div id="totalcost" style="float:right;margin-top:30px"><h4>Total Cost : $XXXXX</h4></div>
              </div>
	  </div>
    </div>

  	</div>
    </div>
	<!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  	</div> -->
  </div>
  <p/>
  <div class="row">
	  
  </div>
  <p><input type="submit" value="Confirm" id="btnconfirm" class="wpcf7-form-control wpcf7-submit" />
	<input type="submit" value="Not Interested" data-toggle="modal" data-target="#modalThank" id="btnnotconfirm" class="wpcf7-form-control wpcf7-submit" />
</p>

</div>
</div>
</div>
<!-- end of form  -->
<div class="fusion-clearfix"></div></div>
<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-1 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:48%'>
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
<style type="text/css"></style>
<div class="fusion-title title fusion-title-3 fusion-title-text fusion-title-size-two" style="font-size:26px;margin-top:0px;margin-bottom:20px;">
<h2 class="title-heading-left" style="margin:0;font-size:1em;">For more Information</h2><div class="title-sep-container"><div class="title-sep sep-" style="border-color:#e0dede;">
</div></div></div>
 <div class="container">
 <div id="msgtxt" style="max-width:450px">
	Not getting fulfilled with our recommendation ? <br/>Feel free to contact us to request a custom trip package by click link below
 </div>
 <div id="socialmedia" style="margin-top:20px;">
 <a style="font-size:30px;margin-right:10px" class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style href="https://www.facebook.com/ThemeFusion-101565403356430/" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="facebook" data-toggle="tooltip" title="facebook"><span class="screen-reader-text">Facebook</span></a>
 <span> Or </span>
 <a style="font-size:30px;margin-left:15px" id="sendwa" class="fusion-social-network-icon fusion-tooltip fusion-whatsapp fusion-icon-whatsapp" style href="" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="whatsapp" data-toggle="tooltip" title="whatsapp"><span class="screen-reader-text">whatsapp</span></a>
 </div>
 </div>
<!-- Map -->
<div class="fusion-clearfix"></div></div></div>
</div>
<!-- end of scnd content-->
<!-- lading content-->
<!-- content -->
<div class="fusion-builder-row fusion-row " id="loading" >
<div class="d-flex justify-content-center" style="height:500px;padding-top:150px">
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>
</div>
<!-- end of loading content-->
<div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"  style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:0px;padding-bottom:-30px;padding-left:0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-3 fusion-one-third fusion-column-first 1_3"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="background-color:#6666a4;padding: 10% 10% 10% 10%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-content-boxes content-boxes columns row fusion-columns-1 fusion-columns-total-1 fusion-content-boxes-1 content-boxes-icon-with-title content-left" data-animationOffset="100%" style="margin-top:0px;margin-bottom:0px;">
					<style type="text/css">
					.fusion-content-boxes-1 .heading .content-box-heading {color:#ffffff;}
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .content-box-heading,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .heading-link .content-box-heading,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .content-box-heading,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .heading-link .content-box-heading,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::after,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::before,
					.fusion-content-boxes-1 .fusion-content-box-hover .fusion-read-more:hover:after,
					.fusion-content-boxes-1 .fusion-content-box-hover .fusion-read-more:hover:before,
					.fusion-content-boxes-1 .fusion-content-box-hover .fusion-read-more:hover,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::after,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::before,
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .icon .circle-no,
					.fusion-content-boxes-1 .heading .heading-link:hover .content-box-heading {
						color: #e0e0e0;
					}
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .icon .circle-no {
						color: #e0e0e0 !important;
					}.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button {background: #6d6daa;color: #ffffff;}.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button .fusion-button-text {color: #ffffff;}
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon > span {
						background-color: #e0e0e0 !important;
					}
					.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .icon > span {
						border-color: #e0e0e0 !important;
					}
					</style>
					<!-- Call us -->
					<div class="fusion-column content-box-column content-box-column content-box-column-1 col-lg-12 col-md-12 col-sm-12 fusion-content-box-hover content-box-column-last content-box-column-last-in-row">
						<div class="col content-box-wrapper content-wrapper link-area-box icon-hover-animation-fade" style="background-color:rgba(255,255,255,0);" data-animationOffset="100%">
						<div class="heading heading-with-icon icon-left">
							<div class="icon">
								<i style="background-color:transparent;border-color:transparent;height:auto;width: 48px;line-height:normal;color:#ffffff;font-size:48px;" class="fontawesome-icon fa fa-phone circle-no">
								</i>
							</div>						
						<h2 class="content-box-heading" style="font-size:48px;line-height:53px;">Call Us</h2></div>
							<div class="fusion-clearfix"></div><div class="content-container" style="color:#747474;"> 
							<span style="color: #ffffff;">Please call one of our specialist or pop into one of our travel shops and meet with an advisor
								 in person. Alternatively, email us any questions and we will reply as quickly as possible. We look forward to being a 
								 small part of your next big adventure.</span></div></div></div>
						<style type="text/css">
						.fusion-content-boxes-1 .fusion-content-box-hover .heading-link:hover .icon i.circle-yes,
						.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box:hover .heading-link .icon i.circle-yes,
						.fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon i.circle-yes,
						.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .icon i.circle-yes {
							background-color: #e0e0e0 !important;
							border-color: #e0e0e0 !important;
						}</style>
						<div class="fusion-clearfix"></div></div>
						<div class="fusion-clearfix"></div></div></div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-4 fusion-one-third 1_3"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="background-color:#7272b2;padding: 10% 10% 10% 10%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-content-boxes content-boxes columns row fusion-columns-1 fusion-columns-total-1 fusion-content-boxes-2 content-boxes-icon-with-title content-left" data-animationOffset="100%" style="margin-top:0px;margin-bottom:0px;">
						<style type="text/css">
					.fusion-content-boxes-2 .heading .content-box-heading {color:#ffffff;}
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .content-box-heading,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .heading-link .content-box-heading,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .content-box-heading,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .heading-link .content-box-heading,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::after,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::before,
					.fusion-content-boxes-2 .fusion-content-box-hover .fusion-read-more:hover:after,
					.fusion-content-boxes-2 .fusion-content-box-hover .fusion-read-more:hover:before,
					.fusion-content-boxes-2 .fusion-content-box-hover .fusion-read-more:hover,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::after,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::before,
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .icon .circle-no,
					.fusion-content-boxes-2 .heading .heading-link:hover .content-box-heading {
						color: #e0e0e0;
					}
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .icon .circle-no {
						color: #e0e0e0 !important;
					}.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button {background: #6d6daa;color: #ffffff;}.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button .fusion-button-text {color: #ffffff;}
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon > span {
						background-color: #e0e0e0 !important;
					}
					.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .icon > span {
						border-color: #e0e0e0 !important;
					}</style>
					<!-- Meet us -->
					<div class="fusion-column content-box-column content-box-column content-box-column-1 col-lg-12 col-md-12 col-sm-12 fusion-content-box-hover content-box-column-last content-box-column-last-in-row"><div class="col content-box-wrapper content-wrapper link-area-box icon-hover-animation-fade" style="background-color:rgba(255,255,255,0);" data-animationOffset="100%"><div class="heading heading-with-icon icon-left"><div class="icon"><i style="background-color:transparent;border-color:transparent;height:auto;width: 48px;line-height:normal;color:#ffffff;font-size:48px;" class="fontawesome-icon fa fa-comments circle-no"></i></div><h2 class="content-box-heading" style="font-size:48px;line-height:53px;">Meet Us</h2></div><div class="fusion-clearfix"></div><div class="content-container" style="color:#747474;"> 
					<span style="color: #ffffff;">Please call one of our specialist or pop into one of our travel shops and meet with an advisor in person. Alternatively, email us any questions and we will reply as quickly as possible. We look forward to being a small part of your next big adventure.</span></div></div></div><style type="text/css">
						.fusion-content-boxes-2 .fusion-content-box-hover .heading-link:hover .icon i.circle-yes,
						.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box:hover .heading-link .icon i.circle-yes,
						.fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon i.circle-yes,
						.fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .icon i.circle-yes {
							background-color: #e0e0e0 !important;
							border-color: #e0e0e0 !important;
						}
					</style><div class="fusion-clearfix"></div></div><div class="fusion-clearfix"></div></div></div>
					<div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-5 fusion-one-third fusion-column-last 1_3"  style='margin-top:0px;margin-bottom:0px;'><div class="fusion-column-wrapper" style="background-color:#6666a4;padding: 10% 10% 10% 10%;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url=""><div class="fusion-content-boxes content-boxes columns row fusion-columns-1 fusion-columns-total-1 fusion-content-boxes-3 content-boxes-icon-with-title content-left" data-animationOffset="100%" style="margin-top:0px;margin-bottom:0px;">
					<style type="text/css">
					.fusion-content-boxes-3 .heading .content-box-heading {color:#ffffff;}
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover .heading .content-box-heading,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover .heading .heading-link .content-box-heading,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover .heading .content-box-heading,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover .heading .heading-link .content-box-heading,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::after,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::before,
					.fusion-content-boxes-3 .fusion-content-box-hover .fusion-read-more:hover:after,
					.fusion-content-boxes-3 .fusion-content-box-hover .fusion-read-more:hover:before,
					.fusion-content-boxes-3 .fusion-content-box-hover .fusion-read-more:hover,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::after,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::before,
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover .icon .circle-no,
					.fusion-content-boxes-3 .heading .heading-link:hover .content-box-heading {
						color: #e0e0e0;
					}
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover .icon .circle-no {
						color: #e0e0e0 !important;
					}.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button {background: #6d6daa;color: #ffffff;}.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button .fusion-button-text {color: #ffffff;}
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon > span {
						background-color: #e0e0e0 !important;
					}
					.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover .heading .icon > span {
						border-color: #e0e0e0 !important;
					}</style>
					<!-- ASK us -->
					<div class="fusion-column content-box-column content-box-column content-box-column-1 col-lg-12 col-md-12 col-sm-12 fusion-content-box-hover content-box-column-last content-box-column-last-in-row"><div class="col content-box-wrapper content-wrapper link-area-box icon-hover-animation-fade" style="background-color:rgba(255,255,255,0);" data-animationOffset="100%"><div class="heading heading-with-icon icon-left"><div class="icon"><i style="background-color:transparent;border-color:transparent;height:auto;width: 48px;line-height:normal;color:#ffffff;font-size:48px;" class="fontawesome-icon fa fa-phone circle-no"></i></div><h2 class="content-box-heading" style="font-size:48px;line-height:53px;">Ask Us</h2></div><div class="fusion-clearfix"></div><div class="content-container" style="color:#747474;"> 
					<span style="color: #ffffff;">Please call one of our specialist or pop into one of our travel shops and meet with an advisor in person. Alternatively, email us any questions and we will reply as quickly as possible. We look forward to being a small part of your next big adventure.</span></div></div></div>
					<style type="text/css">
						.fusion-content-boxes-3 .fusion-content-box-hover .heading-link:hover .icon i.circle-yes,
						.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box:hover .heading-link .icon i.circle-yes,
						.fusion-content-boxes-3 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon i.circle-yes,
						.fusion-content-boxes-3 .fusion-content-box-hover .link-area-box-hover .heading .icon i.circle-yes {
							background-color: #e0e0e0 !important;
							border-color: #e0e0e0 !important;
						}</style>
						<div class="fusion-clearfix"></div></div>
						<div class="fusion-clearfix"></div></div></div></div></div>
							</div>
												</div>
	</section>
						
</div>  <!-- fusion-row -->
</main>  <!-- #main -->

<!-- Modal Form Confirmation -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservation Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to book the trip ?
      </div>
      <div class="modal-footer">
        <button type="button" id="btnno" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" id="btnyes" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Confirmation -->
<div class="modal fade" id="modalThank" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Reservation Confirmation</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body" id="modalThanktxt">
		  Thank you for the reservation, we will reach you soon!
		</div>
		<div class="modal-footer">
		  <button type="button" id="btnokthank" class="btn btn-primary" data-dismiss="modal">Ok</button>
		</div>
	  </div>
	</div>
  </div>

<div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div  id="modaltype">
            <div class="modal-header">
              <h4 class="modal-title"><font color="white" id="modaltitle" ></font></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="modalmsg">
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" id="btnokmodal" class="btn btn-outline-light" data-dismiss="modal">OK</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
	  <%- include('footer') %>
	  
	  <script src="js/reservation.js"></script>




				
